venv
index.html
style.css
scripts
script.js
src\static\images\dashboard-image.png
src\static\images\linkedin-icon-2.svg
src\static\images\reddit.svg
src\static\images\snapchat-logo-png.png
src\static\images\X.png