@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    overflow-x: hidden;
}
.top{
    background-color: #e0e7ff;
    height: 65vh;
    width: 100vw;
    padding-bottom: 4rem;
}
.topbar{
    background-color: #777df4;
    text-align: center;
    padding :1rem 1rem;

}
.main{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    margin-right: 16rem;
    font-size: 4vh;
    font-family: lemon;
    font-weight: 800;
}
.logo:hover{
    color: rgb(52, 52, 52);
}
.about{
    display: flex;
    margin-left: 16rem;
    align-items: center;
}
.about p{
    padding : 8px 16px 8px 16px;
    border-radius: 0.8vh;
    font-size: 2vh;
}
.about p:hover{
    background-color: #c9d0ff ;
}
.headermid{
    text-align: center;
    margin-top: 6rem;
}
.headline{
    font-family: lemon;
    font-size: 6vh;
}
.headdown{
    font-size: 3vh;
    margin-top: 4rem;
}
.form{
    background-color: #ffffff;
    height: 65vh;
    width: 100vw;
    margin: 2rem 2rem;
}
.foot{
    background-color: #111827;
    height: 65vh;
    width: 100vw;
    color: #ffffff;
}
.foot-content{
    display: flex;
}
.foot-content-logo{
    font-family: lemon;
    font-size: 4rem;
}
.foot-content-pricing a {
    text-decoration: none;
    color: white;
}